<section class="container">
  <div class="main">
    <div class="detail">
      <h1>About Me</h1>
      <p>
        Hi, I'm Birkan Karaer, a backend developer always eager to explore
        new concepts and technologies. I have a voracious appetite for
        learning and love to share the new skills and projects I acquire.
        You can find my projects on GitHub, and I also write technical
        content on Medium and LinkedIn. My goal is to produce valuable
        content by leveraging these platforms effectively.
      </p>
      <div class="social">
        <a
          href="https://www.linkedin.com/in/mustafabirkankaraer"
          style="--socialAni: 1"
          ><i class="bx bxl-linkedin"></i
        ></a>
        <a
          href="https://www.instagram.com/birkankaraer/"
          style="--socialAni: 2"
          ><i class="bx bxl-instagram"></i
        ></a>
        <a href="https://github.com/birkankaraer" style="--socialAni: 3"
          ><i class="bx bxl-github"></i
        ></a>
        <a
          href="https://medium.com/@karaermustafabirkan"
          style="--socialAni: 4"
          ><i class="bx bxl-medium"></i
        ></a>
      </div>
    </div>
  </div>
</section>
